.spokane-fair-image {
    cursor: pointer;
}

.select-mono {
    font-family: "Courier New", Courier, monospace;
}

#spokane-fair-photos-shortcode {
    text-align: left !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#spokane-fair-photos-shortcode button {
    padding: 5px 10px !important;
    border-radius: 5px !important;
}

#spokane-fair-photos-shortcode,
#spokane-fair-photos-shortcode th,
#spokane-fair-photos-shortcode td,
.alert {
    color: #000 !important;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.alert ul {
    padding-left: 20px;
}

#spokane-fair-photos-shortcode input[type="text"],
#spokane-fair-photos-shortcode select
{
    height: 34px !important;
    width: 100% !important;
}
